.simulator{
    width: 70%;
    margin-top: 5%;
    float: left;
    position: absolute;
    left: 2%;
} 
.array-bar{
     width: 0.215%;
    display: inline-block;
    margin:0 0.215%;
    background-color: blueviolet;
}
