.whole_container {
  margin-top: 5%;
}
.buttons {
  width: 80%;
}

.new {
  float: left;
  margin-left: 0%;
}
.start {
  float: right;
  margin-right: 5%;
}
.data-single {
  display: inline-block;
}
#speed-data,
#swap {
  margin-left: 5%;
}

#swap,
#comp {
  color: red;
}

select{
  padding:1%;
  width: 80%;
  margin-bottom: 5%;
  background-color: aqua;
  border-radius: 5px;
  margin-right: 5%;
}

/* phone and tablet */
@media screen and (max-width: 1100px) {
  .simulator {
    width: 100%;
    position: relative;
    margin-left: 1%;
  }
  .array-box {
    padding: 5%;
    height: 100%;
    padding-top: 5%;
    overflow: hidden;
  }
  .array-bar {
    display: inline-block;
    /* background-color: #343a40; */
    background-color: white;
  }
  .controls {
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    color: white;
  }

  .title {
    display: none;
  }

  .real-controls {
    width: 100%;
    margin: auto;
  }
  hr {
    margin-right: 20px;
    height: 2px;
    background-color: white;
  }
  .data {
    width: 80%;
    margin: auto;
  }
  .buttons{
    margin-top: 5%;
    width: 100%;
  }
  .new{
    width: 40%;
    float: none;
  }
  .start{
    width: 40%;
    margin-right: 5%;
  }
  #size,#speed{
    width: 80%;
    margin:2 0%;
  }
}

/* Lappy Screen */
@media screen and (min-width: 1100px) {
  .simulator {
    width: 65%;
    float: left;
    position: absolute;
    left: 1%;
    margin-left: 1%;
  }
  .array-box {
    padding: 10px;
    height: 450px;
    padding-top: 5%;
    overflow: hidden;
  }
  .array-bar {
    display: inline-block;
    /* background-color: #343a40; */
    background-color: white;
  }
  .array-bar:hover{
    background-color: green;
  }
  .controls {
    margin-left: 70%;
    height: 80vh;
    padding-top: 5%;
    color: white;
  }

  .title {
    width: 100%;
    margin-bottom: 10%;
  }

  .real-controls {
    width: 80%;
    margin: auto;
  }
  hr {
    margin-right: 20px;
    background-color: white;
    height: 2px;
  }
  .data {
    width: 80%;
    margin: auto;
  }
  #size,#speed{
    width: 80%;
    margin:2 0%;
  }
  input[type=range]{
    height: 10%;
    cursor: all-scroll;
  }
}



input[type=range] {
  height: 10%;
  border-radius: 5px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 1px 1px 1px #000000;
  background: orange;
  border-radius: 14px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 11px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.5px;
  background-image: url("./lighting.svg") ;
  border-radius: 50%;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: orange;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 1px 1px 1px #000000;
  background: orange;
  border-radius: 14px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 30px;
  background: black;
  cursor: pointer;
  background-image: url("./lighting.svg");
  border-radius: 50%;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: orange;
  border: 1px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: orange;
  border: 1px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  background-image: url("./lighting.svg");
}
input[type=range]:focus::-ms-fill-lower {
  background: orange;
}
input[type=range]:focus::-ms-fill-upper {
  background: orange;
}