.whole_container{
  margin-top: 5%;
}


.simulator {
  width: 65%;
  float: left;
  position: absolute;
  left: 1%;
  margin-left:1%;
  border-radius: 25px;
}
.array-box{
  padding: 10px;
  height: 450px;
  padding-top: 5%;
}
.array-bar,.array-bar1  {
  display: inline-block;
  background-color: blueviolet;
}
.controls{
  margin-left:70% ;
  height: 80vh;
}