.whole_container {
  margin-top: 5%;
}
.buttons {
  width: 80%;
}

.new {
  float: left;
  margin-left: 0%;
}
.start {
  float: right;
  margin-right: 5%;
}
.data-single {
  display: inline-block;
}
#speed-data,
#swap {
  margin-left: 5%;
}

#swap,
#comp {
  color: red;
}

/* phone and tablet */
@media screen and (max-width: 1100px) {
  .simulator {
    width: 100%;
    position: relative;
    margin-left: 1%;
  }
  .array-box {
    padding: 5%;
    height: 100%;
    padding-top: 5%;
    overflow: hidden;
  }
  .array-bar {
    display: inline-block;
    /* background-color: #343a40; */
    background-color: white;
  }
  .controls {
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    color: white;
  }

  .title {
    display: none;
  }

  .real-controls {
    width: 100%;
    margin: auto;
  }
  hr {
    margin-right: 20px;
    height: 2px;
    background-color: white;
  }
  .data {
    width: 80%;
    margin: auto;
  }
}

/* Lappy Screen */
@media screen and (min-width: 1100px) {
  .simulator {
    width: 65%;
    float: left;
    position: absolute;
    left: 1%;
    margin-left: 1%;
  }
  .array-box {
    padding: 10px;
    height: 450px;
    padding-top: 5%;
    overflow: hidden;
  }
  .array-bar {
    display: inline-block;
    /* background-color: #343a40; */
    background-color: white;
  }
  .array-bar:hover{
    background-color: green;
  }
  .controls {
    margin-left: 70%;
    height: 80vh;
    padding-top: 5%;
    color: white;
  }

  .title {
    width: 100%;
    margin-bottom: 10%;
  }

  .real-controls {
    width: 80%;
    margin: auto;
  }
  hr {
    margin-right: 20px;
    background-color: white;
    height: 2px;
  }
  .data {
    width: 80%;
    margin: auto;
  }
}
